.main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 90vh;
  padding-top: 3rem;
  background-image: url('/images/circles.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.universe-hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/slot-canyon.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.myth-hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/fire-sky.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.myth-hero2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/keyhole.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.hero-hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/Irish-road.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.hero-hero2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/sand_dune.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.god-hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/penn.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.god-hero2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/red-canyon.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.demi-hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/spiked.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}

.demi-hero2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70vh;
  padding-top: 3rem;
  background-image: url('/images/frozen_lake.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: right;
}
