html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.nav {
  background: blue;

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 2rem;

    a {
      color: white;

        &:hover {
          text-decoration: underline;
        }
    }
  }
}
