.hero {
  height: 90vh;
  background-image: url('/images/thumb.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }

  &__title {
    font-size: 4rem;
    color: #704241;
  }

  &__tag {
    font-size: 2rem;
    color: #704241;

  }
}

.about {
  padding: 3rem 0;
  color: white;

  &-content {
    background: #704241;
    padding: 1rem;
    border: 1px solid #704241;
    border-radius: 0.4rem;
    font-family: 'Dosis', sans-serif;

    &__title {
      text-align: center;
      font-size: 3rem;
    }
    &__description {
      padding: 2rem;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.new-link {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 0.4rem;
  background: transparent;
  color: white;
  font-size: 1.5rem;


  &:hover {
    border: 1px solid #704241;
  }

  a {
    color: white;
    font-size: 1.5rem;
  }
}

.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
}
.title-right {
  margin-right: 2rem;
  text-align: right;
  color: white;
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
}


.card {
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  background: #704241;
  color: white;
  font-family: 'Dosis', sans-serif;

  &-content {
    text-align: center;

    &__title {
      font-size: 3rem;
    }

    &__item {}

    &__text {
      font-size: 2rem;
    }
  }

  &__form {
    text-align: left;
    font-size: 2rem;

    &-string {
      width: 100%;
      height: 2rem;
      font-size: 1.5rem;
      color: #704241;
      outline: none;
    }

    &-text {
      width: 100%;
      height: 5rem;
      font-size: 1.5rem;
      color: #704241;
      outline: none;
    }
  }
}

.button-box {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
