.hero {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url('/images/thumb.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  &-box {
    padding-left: 5rem;
  }

  &__title {
    font-size: 4rem;
    color: #704241;
  }

  &__tag {
    font-size: 2rem;
    color: #704241;

  }
}

.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
}

.main {
  padding-top: 3rem;
  background: #704241;
}
