<section class="myth-hero">
  <h1 class="title-right">Edit Your Myth</h1>
</section>

<%= render 'form' %>

<%= link_to 'Show', [@myth.universe, @myth] %> |
<%= link_to 'Back', universe_myths_path(@myth.universe) %>
