<section class="hero-hero">
  <h1 class="title-right">Edit Your Hero</h1>
</section>

<%= render 'form' %>

<!-- <%= link_to 'Show', [@hero.universe, @hero] %> |
<%= link_to 'Back', universe_heros_path(@hero.universe) %> -->
