<div class="god-hero">
  <h1 class="title-right">Edit Your God</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [@god.universe, @god] %> |
<%= link_to 'Back', universe_gods_path(@god.universe) %>
